name: update-flake-lock-zellij
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * *' # runs daily at 00:00

jobs:
  lockfile:
    runs-on: ubuntu-latest
    environment: update
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v25
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: DeterminateSystems/magic-nix-cache-action@v2
        with:
          diagnostic-endpoint: ""
      - name: Update flake.lock zellij input
        uses: DeterminateSystems/update-flake-lock@v20
        with:
          token: ${{ secrets.GH_TOKEN_FOR_UPDATES }}
          inputs: zellij
          branch: update_input_action_zellij
          pr-title: "flake.lock: update zellij"
          pr-labels: |
            dependencies
            automated
            nix
      # - name: setup git
      #   run: |
      #     set -xe
      #     git config user.name github-actions[bot]
      #     git config user.email 41898282+github-actions[bot]@users.noreply.github.com
          # nix build .#zellij.src.outPath
          # cp -r -L ./result ./vendor
          # sudo chmod -R a+w ./vendor/
          # nix develop --command cargo update --manifest-path ./vendor/Cargo.toml
          # git add ./vendor/Cargo.lock
          # git commit -m "$(date)"
          # git push
        # shell: bash

